.li {
  list-style-type: none;
}
.a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: left;
  background-color: aquamarine;
}
.nav-items {
  display: flexbox;
  justify-content: space-around;
}
